<main class="ui centered grid">
   <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
      <form class=" ui form" action="/login" onsubmit="return false">
         <div class="field">
            <label for="username">Username</label>
            <input autofocus autocomplete="off" class="ui input" type="text" placeholder="Username" name="username">
         </div>
         <div class="field">
            <label for="password">Password</label>
            <input class="ui input" type="password" placeholder="Password" name="password">
         </div>
      </form>
   </div>
</main>